body{
    
    /* background-image:url(images/1328-min.jpg); */
    background-size: cover;
    background-repeat: no-repeat;

}

.searchResult{
    padding-top: 30px;
    border: 1px solid #1390c5;
    height: 400px;
    border-radius: 10px;
    /* //box-shadow: 0px 0px 0px 2px #1390c5; */
}